<header class="header">
  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to(image_tag("logo.png"), { controller: "welcome", action: "index" }) %>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                      <%= link_to("Home", { controller: "welcome", action: "index" }) %>
                    </li>
                    <li class="">
                        <%= link_to("About", { controller: "welcome", action: "about" },{class:"page-scroll"}) %>
                    </li>
                    <li class="">
                        <%= link_to("We Are Hiring!", '#',{class:"md-trigger",data:{modal:"modal-1"}}) %>
                    </li>
                    <li class="">
                        <%= link_to("Blog", { controller: "welcome", action: "blog" },{class:"page-scroll"}) %>
                    </li>
                    <li class="">
                        <%= link_to("Contact", { controller: "welcome", action: "contact" },{class:"page-scroll"}) %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>
</header>