<!doctype html>
<html lang="en">
<head>
<title>Listup</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"/>
<script src="js/modernizr.js"></script>
</head>
<body>
<%= render :partial => "welcome/header" %>
<!-- /Header --> 
<!-- Intro Content -->
<section class="intro-inner">
  <div>
    <div class="hero-content-inner">
      <div class="align-center">
        <div class="modal-video-container"> 
          <h1>Sell <b>Buy</b> Nearby</h1>
          <p>Discover amazing products by nearby people. No need to go far or wait for days your product to be delivered</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /Intro Content --> 
<!-- Main Content -->
<main class="blog-section"> 
   <!-- How it works -->
 
    <div class="container">
     
      <div class="row">
        <div class="col-md-12"> 
         <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h4>
         <small>26 Jan 2016 on startup by Arjun</small>
         <img src="img/blog.jpg" alt="">
          
          <p>Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.</p>
            <p>Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.</p>
              <p>Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.</p>
          
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </div>
    </div>
 
  <!-- /blog-->
  
 
 
 
  
</main>

<!-- Footer area -->
<footer class="footer-area section">
  <div class="container">
    <div class="row">
     <div class="col-md-2"></div>
      <div class="col-md-2">
        <h3 class="text-center"> Get Updates</h3>
      </div>
      <div class="col-md-6 col-sm-12">
        <form id="mc-form" class="sub-form">
          <span class="invite-input-wrapper input">
          <input type="email" id="mc_email" placeholder="Enter your email to start" class="invite-input">
          <button type="submit" class="invite-mobile-button submit"><span>Subscribe</span></button>
          </span>
          <label class="padding-top20" id="mc_notification"></label>
        </form>
      </div>
    </div>
    <div class="row">
      <div> 	
        <nav class="footer-nav align-center">
          <ul class="footer-nav-inner">
            <li><a href="#"><img src="img/logo_color.png" alt="listup"></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Career</a></li> 
            <li><a href="#">Support</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="copyright-info">
          <p>© Listup TM  2016  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.touchSwipe.min.js"></script> 
<script src="js/jquery.swipebox.min.js"></script> 
<script src="js/fappear.js"></script> 
<script src="js/classie.js"></script> 
<script src="js/jquery.countTo.js"></script> 
<script src="js/jquery.typer.js"></script> 
<script src="js/main.js"></script>
<script>
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
</script>

</body>
</html>