<!doctype html>
<html lang="en">
<head>
<title>Listup</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
				<h4>We Are Hiring!</h4>
  				<div>
            <div class="row">
            		<div class="col-md-6"><input type="text" placeholder="Name"></div>
                <div class="col-md-6"><input type="text" placeholder="Email"></div>          
            </div>
            <div class="row">
          		<div class="col-md-6"><input type="text" placeholder="Phone"></div>
                <div class="col-md-6">
                    <select name="open positions">
                      <option value="volvo">open positions</option>
                      <option value="saab">open positions</option>
                      <option value="fiat">open positions</option>
                      <option value="audi">open positions</option>
                    </select>
                </div>
            </div>
            <div class="row">
            		<div class="col-md-12"> <input type="file" name="RESUME" placeholder="Resume"/></div>
            </div>
            <button class="md-close">Apply</button>
  				</div>
			</div>
		</div>

<!-- /Header --> 
  <%= render :partial => "welcome/header" %>
<!-- Intro Content -->
<section class="intro" id="home">
  <div class="intro-wrapper">
    <div class="hero-content">
      <div class="align-center">
        <div class="modal-video-container"> 
          <a class="swipebox-video btn btn-radius" rel="vimeo" href="vimeo.com/29193046">

            <span class="glyphicon glyphicon-play"></span></a>
          <h1 class="main_head">Sell <b>Buy</b> Nearby</h1>
          <p>Discover amazing products by nearby people</p>
        </div>
        <form id="mc-form" class="invite-form">
          <span class="invite-input-wrapper input">
          <input type="email" id="mc_email" placeholder="Enter Phone Number" class="invite-input">
          <button type="submit" class="invite-mobile-button submit"><span>Get Link</span></button>
          </span>
          <label class="padding-top20" id="mc_notification"></label>
        </form>
        <%= image_tag("google-play-badge.png") %>
      </div>
    </div>
  </div>
</section>
<!-- /Intro Content --> 
<!-- Main Content -->
<main class="cd-main-content"> 
  
  <!-- How it works -->
  <div class="section who-can-use" id="who-can-use">
    <div class="container">
      <div class="row text-center">
        <div class="how-it-works-heading">
          <h2 class="section-title">Who can use this ?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 buyers"> <%= image_tag("ic_1.png") %>
          <h4 class="section-title">For Buyers</h4>
          <p>Discover amazing products by nearby people. No need to go far or wait for days for your product to be delivered.</p>
        </div>
        <div class="col-md-6 sellers"> <%= image_tag("ic_2.png") %>
          <h4 class="section-title">For Sellers</h4>
          <p>Selling is as easy as taking a photo. All your buyers are around you, so your things sell faster. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /How it works --> 
  
  <!-- Why you love -->
  <div class="features section" id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class=" text-center">
            <div> <%= image_tag("ic_1.png") %></div>
            <div class="why-you-love-content">
              <h4>Near You</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class=" text-center">
            <div> <%= image_tag("ic_2.png") %> </div>
            <div class="why-you-love-content">
              <h4>Secure Chat</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class=" text-center">
            <div> <%= image_tag("ic_3.png") %></div>
            <div class="why-you-love-content">
              <h4>Trusted Sellers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Why you love --> 
  <!--Screenshots Area -->
  <div class="screenshot-area section" id="screenshots">
    <div class="container">
      <div class="row text-center">
        <div class="screenshots-heading">
          <h2 class="section-title">How to use Listup</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="screenshot-carousel">
            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 col-md-push-2"> <a href="#x">
                    	<%= image_tag("screenshots/s1.png") %>
                    </a> </div>
                  </div>
                  <!--/row--> 
                </div>
                <!--/item-->
                
                <div class="item">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 col-md-push-2"> <a href="#x"> 
                    	<%= image_tag("screenshots/s1.png") %> </a> </div>
                  </div>
                  <!--/row--> 
                </div>
                <!--/item-->
                
                <div class="item">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 col-md-push-2"> 
                    	<a href="#x"> <%= image_tag("screenshots/s1.png") %></a> </div>
                  </div>
                  <!--/row--> 
                </div>
                <!--/item--> 
                
              </div>
              <!--/carousel-inner--> 
              
            </div>
            <!--/myCarousel--> 
            
          </div>
          <!--/well--> 
        </div>
      </div>
    </div>
  </div>
  <!--Screenshot Area --> 
  
  <!-- Contact us -->
  <div class="contact-us-area section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <div class="contact-header">
            <h2 class="section-title">Get In Touch</h2>
          </div>
        </div>
        <!-- /.col-md-12 --> 
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="contact-info">
          <div class="input-form">
            <form action="#" id="contact-form">
              <div class="row">
                <div class="col-md-6 col-xs-12"> <span class="input input--chisato">
                  <input class="input__field input__field--chisato" type="text" id="name"/>
                  <label class="input__label input__label--chisato" for="name"> <span class="input__label-content input__label-content--chisato"
                                              data-content="Your Name">Name</span> </label>
                  </span> <span class="input input--chisato">
                  <input class="input__field input__field--chisato" type="text" id="email"/>
                  <label class="input__label input__label--chisato" for="email"> <span class="input__label-content input__label-content--chisato"
                                              data-content="Your Email">Email</span> </label>
                  </span> </div>
                <!-- /.form-group -->
                <div class="form-group col-md-6"> <span class="input input--chisato">
                  <textarea name="message" id="message" cols="30" rows="5"
                                              class="input__field input__field--chisato"></textarea>
                  <label class="input__label input__label--chisato" for="message"> <span class="input__label-content input__label-content--chisato"
                                              data-content="Your Message">Your Message</span> </label>
                  </span> </div>
                
                <!-- /.form-group --> 
              </div>
              <div class="row">
                <div class="form-group col-md-12"> </div>
                <!-- /.form-group --> 
              </div>
              <div class="row">
                <div class="form-group no-margin-btm col-md-12 text-center">
                  <input type="submit" class="btn btn-send" value="Send">
                </div>
                <!-- /.form-group --> 
              </div>
            </form>
          </div>
          <!-- /.input-form --> 
        </div>
        <!-- /.contact-info --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /Contact us --> 
  
  <!-- Testimonial area section -->
  <div id="feedback" class="testimonial-area section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="testimonial-area-heading">
            <h2>See what people are talking about Listup <small>TM</small></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" data-wow-delay="0.2s">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active">
                <%= image_tag("clients/client-1.jpg",alt:"client",class:"img-responsive") %> </li>
              <li data-target="#quote-carousel" data-slide-to="1">
                <%= image_tag("clients/client-2.jpg",alt:"client",class:"img-responsive") %> </li>
              <li data-target="#quote-carousel" data-slide-to="2">
                <%= image_tag("clients/client-3.jpg",alt:"client",class:"img-responsive") %> </li>
            </ol>
            
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center"> 
              
              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                      <small>John Doe</small> </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      <small>Nargis Doe</small> </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                      <small>Jane Doe</small> </div>
                  </div>
                </blockquote>
              </div>
            </div>
            
            <!-- Carousel Buttons Next/Prev --> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Testimonial area section --> 
  
</main>

<!-- Footer area -->
<footer class="footer-area section">
  <div class="container">
    <div class="row">
     <div class="col-md-2"></div>
      <div class="col-md-2">
        <h3 class="text-center"> Get Updates</h3>
      </div>
      <div class="col-md-6 col-sm-12">
        <form id="mc-form" class="sub-form">
          <span class="invite-input-wrapper input">
          <input type="email" id="mc_email" placeholder="Enter your email to start" class="invite-input">
          <button type="submit" class="invite-mobile-button submit"><span>Subscribe</span></button>
          </span>
          <label class="padding-top20" id="mc_notification"></label>
        </form>
      </div>
    </div>
    <div class="row">
      <div> 	
        <nav class="footer-nav align-center">
          <ul class="footer-nav-inner">
            <li><%= link_to(image_tag("logo_color.png"), { controller: "welcome", action: "index" }) %></li>
            <li><%= link_to("About", { controller: "welcome", action: "about" }) %></li>
            <li><%= link_to("Career", { controller: "welcome", action: "about" }) %></li> 
            <li><%= link_to("Support", { controller: "welcome", action: "about" }) %></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="copyright-info">
          <p>© Listup TM  2016  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="md-overlay"></div><!-- the overlay element -->

<script>
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
</script>

</body>
</html>