
body {
    font-size: 100%;
    font-family: "Raleway", sans-serif;
    color: rgba(2, 23, 37, 0.7);
    background-color: white;
    font-size: 14px;
    line-height: 1.9em;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

}

body.overflow-hidden {
    overflow: hidden;
}

a {
    color: #222;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    outline: 0;
}

a:hover,
a:active,
a:visited,
a:focus {
    color: #222;
}

img {
    max-width: 100%;
}

.padding-top60 {
    padding-top: 60px;
}

.padding-bottom40 {
    padding-bottom: 40px;
}

.margin-top-minus80 {
    margin-top: -80px;
}
.margin-top-minus60 {
    margin-top: -60px;
}

.light {
    color: #fff;
}

.dark {
    color: #222;
}


.bg-white {
    background-color: #fff !important;
}

.bg-primary {
    background-color: #f5f5fa !important;
}


/* -------------------------------------
    Headings
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    margin-top: 0;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
    font-weight: 400;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    
}

h3 {
    font-size: 21px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 26px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
}

p {
    font-size: 14px;
    line-height: 1.9em;
    margin-bottom: 24px;
    cursor: default;
}

p.lead {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

p.sub {
    font-size: 12px;
    line-height: 16px;
}

a {    
    color: #222;
    font-weight: 400;
}

p:last-child {
    margin-bottom: 0;
}

p a {
    color: #6dc77a;
    font-weight: 700;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

p a:hover {
    color: #40a74f;
}

p.text-white a {
    color: #fff;
}

@media all and (max-width: 768px) {
    p.lead {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.9em;
    }
}

/* --------------------------------
reusable parts of our design
-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.cd-container:after {
    content: "";
    display: table;
    clear: both;
}

.section {
    padding: 80px 0 90px;
}

.section-heading {
    margin-bottom: 50px;
    font-size: 30px;
}

.padding-top20 {
    padding-top: 20px;
}

.padding-top30 {
    padding-top: 30px;
}

/* --------------------------------
 Main components
-------------------------------- */
html, body {
    height: 100%;
}

ul, li {
    list-style: none;
}

.header {
  position: fixed;
  top: 0px;
  height:75px;
  z-index: 999;
  width: 100%;
  background: none;
 -webkit-transition: all 0.3s;
  transition: all 0.3s;
 
 
}


.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background:#a872ff;
  opacity: 1;
  top: 0px;
 
}
nav {
 
  width: 100%;
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}
nav{
	padding: 0 5% !important;
}

.navbar-default {
	width:100% !important;
    border-color: transparent;
    background-color:transparent !important;
}

.navbar-default .navbar-brand {
    
}

.navbar-default .navbar-collapse {
    border-color:none;
	
}

.navbar-default .navbar-toggle {
    border-color:none !important;
    background-color:transparent !important;
	border-radius:0px !important;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color:transparent !important;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
	padding:25px 20px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color:#1cb934;;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(max-width:768px) {
	
	.navbar-default .navbar-collapse {
    border-color:none;
	background:#a872ff;
	
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
	padding:15px 20px;
}
    
}

/* --------------------------------
7. Intro CSS
-------------------------------- */
.intro {
    position: relative;
    background: url("../assets/default-bg.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.intro img{
	display:block;
	margin:30px auto 0 auto;
	
}
/* Intro Section */

.intro h1 {
    color: white;
    font-size: 72px;
    line-height: 150px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.intro p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
 .main_head b{
	color:#1cb934;
	background-color:transparent !important;
	
}
.scroll-down-anim {
    -webkit-animation: bounce-arrow 2s infinite;
    -moz-animation: bounce-arrow 2s infinite;
    -ms-animation: bounce-arrow 2s infinite;
    animation: bounce-arrow 2s infinite;
    transition-delay: 0.15s;
}

.lead-generation-left-area {
    display: table;
    position: relative;
    height: 100vh;
    margin: 0 auto;
}
.lead-generation-left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
.lead-generation-left h1 {
    color: white;
    font-size: 66px;
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
}
.lead-generation-left p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-align: left;
}
.lead-generation-right-area {
    display: table;
    position: relative;
    height: 100vh;
    margin: 0 auto;
}
.lead-generation-right {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}
.lead-generation-right h3 {
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
}

.lead-generation-right label {
    color: #FFFFFF;
    text-align: center;
}

.lead-generation-right button {
  position: relative;
}
.lead-generation-right .btn-send {
    text-transform: uppercase;
    color: #fff;
    background-color: #35434f;
    width: 100%;
}

p.help-block {
    font-size: 14px !important;
}

.red{
    color:red;
}
.form-area
{
    background-color: #1abc9c;
    padding: 34px 40px 20px;
    margin: 40px 0px 40px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border: 3px solid #fff;
}

.form-control {
    box-shadow: none;
    border: none;
}

@media only screen and (min-width: 768px) {
    
      .cd-intro h1 {
        font-size: 30px;
      }
     
    .intro p {
        font-size: 16px;
        font-weight: bold;

    }

}

@media only screen and (min-width: 1170px) {
    .intro {
        height: 100%;
    }
}

.cd-main-content {
    position: relative;
    z-index: 1;
}

.cd-main-content p {
    line-height: 1.9em;
    margin: 2em 0;
    color: #696969;
    font-size: 14px;
}

@media only screen and (min-width: 1170px) {
    .cd-main-content p {
        font-size: 14px;

    }
}

.intro-wrapper {
    height: 100%;
    background-color: rgba(35, 46, 39, 0.4);
}

.hero-content {
    display: table;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.align-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* --------------------------------
Video Lightbox + subscribe form
-------------------------------- */

.intro .modal-video-container {
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.05em;
}

.modal-video-container span {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #222222;
    padding-top: 30px;
}

/* subscribe area */
.intro .invite-form {
    position: relative;
    display: block;
    margin: 35px auto 0;
    color: white;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.05em;
	
}

.invite-form label {
    display: block;
}

.invite-form input {
    vertical-align: bottom;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.9em;
    padding: 13px 15px;
    box-sizing: border-box;
    width: 260px;
    height: 51px;
    border-radius: 4px 0 0 4px;
    border: 2px solid white;
    color: #222 !important;
}

.invite-form button {
    vertical-align: top;
    border: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 14px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 18px 20px;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    outline: none;
    text-shadow: none;
    position: relative;
    left: -5px;
}
.subscribe button {
    vertical-align: top;
    border: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 14px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 18px 20px;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    outline: none;
    text-shadow: none;
    position: relative;
    left: -5px;
}

@media (min-width: 768px) {
    .invite-form {
        max-width: 100%;
        margin: 0 auto;
    }
}

.intro .icon-arrow-down {
    position: absolute;
    margin-top: 30px;
    width: 26px;
    left: calc(50% - 13px);
    bottom: 25px;
    color: white;
}
/* ==========================================================================
  who can use this
========================================================================== */
.who-can-use {
    background: #fff;
    padding-bottom: 80px;
}

.who-can-use h4{
        text-align:  center;
}
.who-can-use p{
    text-align:  center;
    font-size: 18px;
}
.who-can-use img{
    display: block;
    margin:30px auto;
}
.buyers {
    padding: 20px 100px;
    border-radius: 3px;
    border: 3px solid #fff;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
   
}
.buyers:hover{
    
    border: 3px solid #a872ff;
   
}
.sellers {
    padding: 20px 100px;
    border-radius: 3px;
    border: 3px solid #fff;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
   
}
.sellers:hover{
 border: 3px solid #a872ff;
}
h2.section-title{
    padding:10px 0 80px 0;
}
/* --------------------------------
 features
-------------------------------- */

.features {
    background: #f6f4f0;
    padding: 60px 0;
}

.features h4 {
    color: #a872ff;
    padding:0 0 ;
}

.features p {
    font-size: 14px;
    margin: 1em 0;
    padding:10px 30px 0 30px;
}

.features img{
    display: block;
    margin:20px auto 40px auto;
}
/* --------------------------------
15. Screenshots area
-------------------------------- */

.screenshot-area{
    background: #923ce2;
}
.screenshot-area h2{
    padding: 0 0 30px 0;
    color: #fff;
    
}

#myCarousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -40px;
    margin-right: -19px;
}

.screenshot-carousel .carousel {
    padding: 25px 40px 50px;
}
/* --------------------------------
Testimonial area
-------------------------------- */

.testimonial-area {
    padding-bottom: 70px;
    background: #fdfdfd;
    border-top:1px solid #fafafb;
    border-bottom:1px solid #fafafb;
}

.testimonial-area-heading h2 {   
    margin-bottom: 0;
}
.testimonial-area-heading h2 small {  
	 position:relative;
    top:-10px;
}
#quote-carousel p {
    color: #3c3e3e;
    margin: 1em 0;
}

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #3c3e3e;
}

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #1cb934;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: #1cb934;
    opacity: 1;
    overflow: hidden;
}

#quote-carousel .carousel-inner {
    min-height: 300px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}




/* --------------------------------
20.  Contact Us 
-------------------------------- */
.contact-us-area {
    background-color: #fff;

}

.form-message .success, .form-message .error {
    width: calc(100% - 2em);
    margin: 1em 1em 0;
    text-align: center;
}

.form-message .success {
    color: #3c763d;
}

.form-message .error {
    color: #a94442;
}

.contact-header h2.section-title {
    padding-bottom: 10px !important;
}

.contact-us-area .contact-info {
    padding: 20px 12% 0;
}

.contact-us-area .contact-info .input-form .input--chisato .input__label--chisato, .modal .input--chisato .input__label--chisato {
    top: -26px;
}

.contact-us-area .btn-send {
    display: block;
    text-transform: uppercase;
    color: #fff;
    margin:20px auto;
    width:250px;
    border-radius:30px;
    padding:15px 0;
}

.no-margin-btm.form-group {
    margin-bottom: 0;
}

.contact-us-area .input, .modal .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 100%;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #bcbcbc;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

/* Individual styles */

/* Chisato */

.input--chisato {
    padding-top: 1em;
}

.input__field--chisato {
    width: 100%;
    padding: 0.8em 0.8em;
    background: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #ccc;
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.input__label--chisato {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: left;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
    padding: 0.8em 1em;
    color: #696969;
}

.input__label-content--chisato::after {
    content: attr(data-content);
    position: absolute;
    top: -180%;
    left: 0;
    font-weight: 800;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
    -webkit-animation: anim-chisato-1 0.25s forwards;
    animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
    -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
    animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
    0%, 70% {
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    71%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes anim-chisato-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    70%, 71% {
        -webkit-transform: translate3d(0, 125%, 0);
        transform: translate3d(0, 125%, 0);
        opacity: 0;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        color: transparent;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
}

@keyframes anim-chisato-1 {
    0%, 70% {
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    71%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-chisato-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    70%, 71% {
        -webkit-transform: translate3d(0, 125%, 0);
        transform: translate3d(0, 125%, 0);
        opacity: 0;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        color: transparent;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
}

/* --------------------------------
21. Footer area
-------------------------------- */

.footer-area {
    padding-top: 80px;
    padding-bottom: 70px;
}
nav.footer-nav{
	display:block;
	width:auto;
	float:none !important;
	margin:30px 0;
}

.footer-nav ul {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}

.footer-nav-inner li {
    list-style: none;
    display: inline-block;
}

ul.footer-nav-inner li a {
    display: inline-block;
    text-decoration: none;
    color: #222;
    padding: 20px 15px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.1em;
}
ul.footer-nav-inner li a:hover {
	color:#1cb934;
}
.footer-area .copyright-info p {
    font-size: 12px;
    letter-spacing: 0.05em;
}


.footer-area h3{
	padding:15px 0 0 0;
	font-size:20px;
}



.sub-form input {
    vertical-align: bottom;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.9em;
    padding: 13px 15px;
    box-sizing: border-box;
    width: 320px;
    height: 54px;
    border-radius:30px;
    border: 1px solid #e3e3e3;
    color: #222 !important;
	margin-right:20px;
}

.sub-form button {
    vertical-align: top;
    border: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 14px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 18px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    outline: none;
    text-shadow: none;
    position: relative;
    left: -5px;
	background:#1cb934;
}


/* --------------------------------
		inner styles
-------------------------------- */
.hero-content-inner {
    display: table;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.hero-content-inner h1{
	color:#fff;
}
.hero-content-inner p{
	color:#fff;
	font-weight:700;
}
.intro-inner{
	 position: relative;
    background: url("../assets/default-bg.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	height:50% !important;
	
}
.founders{
    background: #fff;
    padding-bottom: 80px;
}

.founders h4{
	color: #a872ff;
    text-align:  center;
}
.founders p{
    text-align:  center;
    font-size: 18px;
	padding:0 30px;
}
.founders img{
    display: block;
    margin:30px auto;
	border-radius:50%;
}

h2.section-title{
    padding:10px 0 80px 0;
}
.our-team {
    background: #f6f4f0;
    padding: 60px 0 100px 0;
}
.our-team h2 {
	text-align:center;
	padding-bottom:20px !important;
  
}

.our-team h4 {
    color: #a872ff;
    padding:0 0 ;
}

.our-team p {
    font-size: 14px;
    margin: 1em 0;
    padding:0 30px;
}

.our-team img{
    display: block;
    margin:20px auto 40px auto;
	border-radius:50%;
	padding:30px;
}
.blog-section{
    padding:30px 0;
}
.blog-section .container{
    max-width: 60%;
}
.blog-section h4{
    padding: 30px 0 0 0 ;
}
.blog-section h4.highlite{
    color: #a872fe;
}
.blog-section small{
    display: block;
    font-weight: bold;
    padding-bottom: 30px;
    margin: 0;
    color: #929699;
    font-size: 13px;
}
.blog-section img{
   padding-bottom: 20px;
}
.blog-section .col-md-12{
    padding-bottom: 30px;
   
}
.blog-section a{
    margin: 10px 0 0 0;
    display: block;
    background: #60cc5d;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
}


/* --------------------------------
Responsive CSS
-------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .features-icon-box {
        width: 100%;
    }

    .featured-content .features-icon-box:first-child {
        margin-top: 0px;
    }

    .cd-intro h1 {
        font-size: 50px !important;
        line-height: 75px;
    }
	.intro h1 span{
	font-size: 50px;
	color:#1cb934;
	}

    .cd-intro p {
        top: 37%;
    }

    .cd-intro .modal-video-container {
        top: 45%;
    }

    .iphone-image {
        margin: 2px 203px;
        padding-bottom: 40px;
    }

    .our-stats-box {
        padding-bottom: 50px;
    }

    .carousel-img {
        margin-bottom: 30px;
    }

    #quote-carousel .carousel-indicators {
        bottom: -10px;
    }

    

    ul.footer-nav-inner li a {
        padding: 10px 9px;
    }
    .blog-section .container{
    max-width: 100%;
}

}

@media only screen and (min-width: 320px) and (max-width: 479px) {

   

    .invite-form input {
        width: 55%;
        font-size: 14px;
        text-align: left;

    }

    .invite-form button {
        width: 35%;
        letter-spacing: 0.05em;
        font-size: 14px;
        padding: 18px 10px;
    }
    

    .intro h1 {
        color: white;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

.intro h1 span{
	font-size: 24px;
	
	}
    .lead-generation-left-area, .lead-generation-right-area {
        height: 100%;
    }

    .lead-generation-left {
        padding-top: 60px;
    }

    .intro .icon-arrow-down {
        display: none;
    }

    .lead-generation-left p {
        text-align: center;
    }

    .hero-content-lead-generation {
        padding: 0;
        display: block;
    }

    .lead-generation-right-area .form-area {
        padding: 15px 25px 0px;
        margin: 15px 0px 15px;
    }

    .lead-generation-right-area .form-area textarea.form-control {
        height: 60px;
    }

    .intro .modal-video-container {
        top: 55%;
    }

    .intro .invite-form {
        top: 50%;
        width: 102%;
    }

    .carousel-indicators {
        top: 100px;
    }

    h2 {
        font-size: 21px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .iphone-image {
        margin: 2px 0px;
        padding-bottom: 40px;
    }

    .promo-area.section {
        padding: 65px 0 90px;
    }

    .how-it-works .how-it-work-icon-box {
        border-bottom: 1px solid #d7d7d7;
    }

    .our-stats-box {
        padding-bottom: 50px;
    }

    .why-you-love-icon-box {
        padding-bottom: 20px;
    }

    #myCarousel .item img {
        padding: 5px;
    }

    #quote-carousel .carousel-indicators li {
        width: 40px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
     
        border-radius: 50%;
        opacity: 0.4;
        overflow: hidden;
        transition: all 0.4s;
    }

    #quote-carousel .carousel-indicators .active {
        background: #333333;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-color: #35434f;
        opacity: 1;
        overflow: hidden;
    }

    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: -42px;
        margin-right: -19px;
    }

   

    .btns a.btn-signup {

        position: relative;
        top: 23px;
    }

    .btns a.btn-appstore {
        font-size: 12px;

    }

    .btns a.btn-googleplay {
        font-size: 12px;

    }

    .btns a.btn-signup {
        font-size: 12px;

    }

    .btns a {
        display: inline;
        margin-left: 3px;
        /* margin-bottom: 9px; */
        padding-bottom: 11px;
    }

    .footer-area .share .twitter, .footer-area .share .facebook {

        margin-left: 0px;
    }

    .footer-area .share .twitter p.num, .footer-area .share .facebook p.num {
        font-size: 13px;
        right: 5px;

    }

    .footer-area .share .twitter p.txt, .footer-area .share .facebook p.txt {
        font-size: 12px;
        line-height: 16px;
        left: 42px;

    }

    .footer-area .share .twitter img, .footer-area .share .facebook img {
        top: 14px;
        left: 8px;
    }

    .footer-nav-inner li {
        list-style: none;
        display: block;
    }

    ul.footer-nav-inner li a {
        padding: 4px 15px;
    }

    .features-icon-box h4 {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #fff;
    }

    #Carousel .item img {
        padding: 10px 0;

    }

.sub-form input {
   
    width:100% !important;
    height: 45px !important;
	margin-right:0px;
	margin-bottom:10px;
}

.sub-form button {
    width:100% !important;
    line-height: 1.5rem;
    font-size: 12px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 15px 0;
  
}
     .blog-section .container{
    max-width: 100%;
}

}

@media only screen and (min-width: 480px) and (max-width: 599px) {
   
    .intro .invite-form {
        top: 0%;
        margin: 0px auto 0;
    }

    .cd-intro .modal-video-container {
        top: 0%;
    }

    .cd-intro h1 {
        color: white;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
	.intro h1 span{
	font-size: 24px;
	
	}

    .cd-intro p {
        font-size: 11px;
        width: 100%;
        margin-bottom: 0;
    }

    .lead-generation-left-area, .lead-generation-right-area {
        height: -webkit-calc(100% - 0px);
    }

    .lead-generation-left p {
        text-align: center;
    }

    .lead-generation-left {
        padding-top: 60px;
    }

    .cd-intro .icon-arrow-down {
        display: none;
    }

    .hero-content-lead-generation {
        padding: 0;
        display: block;
    }

    .lead-generation-right-area .form-area {
        padding: 15px 25px 0px;
        margin: 15px 0px 15px;
    }

    .lead-generation-right-area .form-area textarea.form-control {
        height: 60px;
    }

    .carousel-indicators {
        right: 50%;
        top: auto;
        top: 160px;
        margin-right: -19px;
    }

    .iphone-image {
        margin: 2px 69px;
        padding-bottom: 40px;
    }

    #Carousel .item img {
        padding: 10px 0;

    }

    .promo-area.section {
        padding: 65px 0 90px;
    }

    .how-it-work-icon-box {
        padding: 10px 0;
        border-bottom: 1px solid #d7d7d7;
    }

    .our-stats-box {
        padding: 30px 0;
    }

    #myCarousel .item img {
        padding: 5px 0;
    }

    #quote-carousel .carousel-indicators {
        bottom: -39px;
    }

    .footer-nav-inner li {
        list-style: none;
        display: block;
    }

    ul.footer-nav-inner li a {
        padding: 4px 15px;
    }

    .cd-intro .icon-arrow-down {
        display: none;
    }

    .trainer-area-inner {
        padding-bottom: 50px;
    }


    .featured-content .features-icon-box:first-child {
        margin-top: 0px;
    }

    .btns a.btn-appstore {
        font-size: 12px;

    }

    .btns a.btn-googleplay {
        font-size: 12px;

    }

    .btns a.btn-signup {
        font-size: 12px;

    }

    .btns a {
        display: inline;
        margin-left: 3px;
        /* margin-bottom: 9px; */
        padding-bottom: 11px;
    }
 .sub-form input {
   
    width:100% !important;
    height: 45px !important;
	margin-right:0px;
	margin-bottom:10px;
}

.sub-form button {
    width:100% !important;
    line-height: 1.5rem;
    font-size: 12px;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    padding: 15px 0;
  
}
 .blog-section .container{
    max-width: 100%;
}

}

@media only screen and (min-width: 600px) and (max-width: 767px) {
   

    #Carousel .item img {
        padding: 10px 0;

    }

    .carousel-indicators {
        top: 174px;
    }

    .intro h1 {
        font-size: 24px;
    }
	.intro h1 span{
	font-size: 24px;
	
	}

    .iphone-image {
        margin: 2px 134px;
        padding-bottom: 40px;
    }

    #Carousel .item img {
        padding: 10px 0;

    }

    .how-it-work-icon-box {
        padding: 10px 0;
        border-bottom: 1px solid #d7d7d7;
    }

    .our-stats-box {
        padding: 30px 0;
    }

    #myCarousel .item img {
        padding: 10px 0;
    }

    #quote-carousel .carousel-indicators {
        bottom: -39px;
    }

    ul.footer-nav-inner li a {
        padding: 4px 15px;
    }

    .trainer-area-inner {
        padding-bottom: 50px;
    }

    .featured-content .features-icon-box:first-child {
        margin-top: 0px;
    }
    .trainer-area-inner img {
        position: relative;
        left:21%;
    }

    .lead-generation-left-area, .lead-generation-right-area {
        height: -webkit-calc(100% - 0px);
    }
     .blog-section .container{
    max-width: 100%;
}

}







.overlay {
    background: rgba(26, 188, 156, 0.2);
}

 .invite-form button,  .btn-business, .contact-us-area .btn-send  {
    background-color: #1cb934 !important;
}

.btn-color, .btn.green, .btns a.btn-appstore, .btns,.scrollup {
    background-color: #1abc9c;
    color: #fff;
}

.carousel-indicators .active, .features-section, .features-section-agency,  .login .modal-header, .register .modal-header {
    background: #1abc9c;
}

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}



.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 900px;
	min-width: 600px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}
.md-modal input{
	color:#ccc;
	background:#fff;
	width:100%;
	border:1px solid #f7f7f7;
	border-radius:10px;
	margin-bottom:30px;
	padding:25px;
}
.md-modal select{
	color:#ccc;
	background:#fff;
	width:100%;
	border:1px solid #f7f7f7;
	border-radius:10px;
	margin-bottom:30px;
	padding:25px;
	height:78px;
}


.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background:#000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h4 {
	margin: 0;
	padding:20px 30px;
	font-size:16px;
	font-weight: 400;
	color:#60cc5d;
	
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}


.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 18px;
	font-weight:700;
	background:#60cc5d;
	border-radius:30px;
	padding:15px 0;
	text-align:center;
	width:220px;
	border:none;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


