<!DOCTYPE html>
<html>
<head>
  <title>Listup</title>
  <%= favicon_link_tag('favicon.png',type:"image/x-icon") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'bootstrap.min' %>
  <%= stylesheet_link_tag    'font-awesome.min' %>
  <%= stylesheet_link_tag    'styles' %>
  <%= stylesheet_link_tag    'swipebox' %>

  <%= javascript_include_tag 'jquery-1.12.0.min' %>
  <%= javascript_include_tag 'main' %>
  <!-- <%= javascript_include_tag 'css-filters-polyfill' %> -->
  <%= javascript_include_tag 'modernizr' %>
  <%= javascript_include_tag 'switcher' %>
  <%= javascript_include_tag 'modalEffects' %>
  <%= javascript_include_tag 'cssParser' %>
  <%= javascript_include_tag 'jquery.touchSwipe.min' %>
  <%= javascript_include_tag 'jquery.typer' %>
  <%= javascript_include_tag 'jquery.smooth-scroll' %>
  <%= javascript_include_tag 'jquery.swipebox.min' %>
  <%= javascript_include_tag 'classie' %>
  <%= javascript_include_tag 'fappear' %>
  <%= javascript_include_tag 'jquery.countTo' %>
  <%= javascript_include_tag 'bootstrap.min' %>
</head>
<body>

<%= yield %>

</body>
</html>
